<a href="https://colab.research.google.com/github/ramakrishnabhavana/Bhavana-sML/blob/main/ML_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week-1

In [ ]:
import pandas as pd
data = {
    2014: [100.5, 150.8, 200.9, 30000, 40000],
    2015: [12000, 18000, 22000, 30000, 45000],
    2016: [20000, 50000, 70000, 100000, 125000],
    2017: [50000, 60000, 70000, 80000, 90000]
}
index = ['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti']
Sales = pd.DataFrame(data, index=index)
print(Sales)

            2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.8  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000  125000  90000

In [ ]:
# a) Display the row labels of Sales
print("a) Row Labels:")
print(Sales.index)

# b) Display the column labels of Sales
print("\nb) Column Labels:")
print(Sales.columns)

# c) Display the data types of each column of Sales
print("\nc) Data Types:")
print(Sales.dtypes)

# d) Display the dimensions, shape, size and values of Sales
print("\nd) DataFrame Properties:")
print("Dimensions:", Sales.ndim)
print("Shape:", Sales.shape)
print("Size:", Sales.size)
print("Values:\n", Sales.values)

# e) Display the last two rows of Sales
print("\ne) Last Two Rows:")
print(Sales.tail(2))

# f) Display the first two columns of Sales
print("\nf) First Two Columns:")
print(Sales.iloc[:, :2])

a) Row Labels:
Index(['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'], dtype='object')

b) Column Labels:
Index([2014, 2015, 2016, 2017], dtype='int64')

c) Data Types:
2014    float64
2015      int64
2016      int64
2017      int64
dtype: object

d) DataFrame Properties:
Dimensions: 2
Shape: (5, 4)
Size: 20
Values:
 [[1.005e+02 1.200e+04 2.000e+04 5.000e+04]
 [1.508e+02 1.800e+04 5.000e+04 6.000e+04]
 [2.009e+02 2.200e+04 7.000e+04 7.000e+04]
 [3.000e+04 3.000e+04 1.000e+05 8.000e+04]
 [4.000e+04 4.500e+04 1.250e+05 9.000e+04]]

e) Last Two Rows:
           2014   2015    2016   2017
Ankit   30000.0  30000  100000  80000
Shruti  40000.0  45000  125000  90000

f) First Two Columns:
            2014   2015
Madhu      100.5  12000
Kusum      150.8  18000
Kinshuk    200.9  22000
Ankit    30000.0  30000
Shruti   40000.0  45000

In [ ]:
import pandas as pd
data_2018 = {
    'Madhu': 160000,
    'Kusum': 110000,
    'Kinshuk': 500000,
    'Ankit': 340000,
    'Shruti': 900000
}

# Convert the dictionary to a DataFrame
Sales2 = pd.DataFrame.from_dict(data_2018, orient='index', columns=[2018])
# Display the DataFrame
print("g) Sales2 DataFrame:")
print(Sales2)
#h Check if Sales2 is empty or it contains data.
print(Sales2.empty)

g) Sales2 DataFrame:
           2018
Madhu    160000
Kusum    110000
Kinshuk  500000
Ankit    340000
Shruti   900000
False

In [ ]:
import pandas as pd

# Q9: Original Sales DataFrame
Sales = pd.DataFrame({
    2014: [100.5, 150.8, 200.9, 30000, 40000],
    2015: [12000, 18000, 22000, 30000, 45000],
    2016: [20000, 50000, 70000, 100000, 125000],
    2017: [50000, 60000, 70000, 80000, 90000]
}, index=['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'])

# Q10g: Create Sales2
Sales2 = pd.DataFrame.from_dict({
    'Madhu': 160000,
    'Kusum': 110000,
    'Kinshuk': 500000,
    'Ankit': 340000,
    'Shruti': 900000
}, orient='index', columns=[2018])

# a) Append Sales2 to Sales
Sales = pd.concat([Sales, Sales2], axis=1)
print("a) After appending Sales2:\n", Sales)

# b) Transpose Sales
Sales = Sales.T
print("\nb) Transposed Sales:\n", Sales)

# c) Sales in 2017 (from transposed DataFrame)
print("\nc) Sales in 2017:\n", Sales.loc[2017])

# d) Sales by Madhu and Ankit in 2017 and 2018
print("\nd) Madhu and Ankit sales in 2017 and 2018:\n", Sales.loc[[2017, 2018], ['Madhu', 'Ankit']])

# e) Sales by Shruti in 2016
print("\ne) Shruti sales in 2016:\n", Sales.loc[2016, 'Shruti'])

# f) Add Sumeet with sales for 2014â€“2018
Sales['Sumeet'] = [196.2, 37800, 52000, 78438, 38852]
print("\nf) Added Sumeet:\n", Sales)

# g) Delete data for 2014
Sales = Sales.drop(index=2014)
print("\ng) Deleted 2014:\n", Sales)

# h) Delete data for Kinshuk
Sales = Sales.drop(columns='Kinshuk')
print("\nh) Deleted Kinshuk:\n", Sales)

# i) Rename Ankit to Vivaan and Madhu to Shailesh
Sales = Sales.rename(columns={'Ankit': 'Vivaan', 'Madhu': 'Shailesh'})
print("\ni) Renamed Ankit and Madhu:\n", Sales)

# j) Update Shailesh's sale in 2018 to 100000
Sales.loc[2018, 'Shailesh'] = 100000
print("\nj) Updated Shailesh's 2018 sale:\n", Sales)

# k) Write to CSV without row or column labels
Sales.to_csv('SalesFigures.csv', index=False, header=False)

# l) Read from CSV and update labels
SalesRetrieved = pd.read_csv('SalesFigures.csv', header=None)
SalesRetrieved.index = Sales.index
SalesRetrieved.columns = Sales.columns
print("\nl) SalesRetrieved with updated labels:\n", SalesRetrieved)

a) After appending Sales2:
             2014   2015    2016   2017    2018
Madhu      100.5  12000   20000  50000  160000
Kusum      150.8  18000   50000  60000  110000
Kinshuk    200.9  22000   70000  70000  500000
Ankit    30000.0  30000  100000  80000  340000
Shruti   40000.0  45000  125000  90000  900000

b) Transposed Sales:
          Madhu     Kusum   Kinshuk     Ankit    Shruti
2014     100.5     150.8     200.9   30000.0   40000.0
2015   12000.0   18000.0   22000.0   30000.0   45000.0
2016   20000.0   50000.0   70000.0  100000.0  125000.0
2017   50000.0   60000.0   70000.0   80000.0   90000.0
2018  160000.0  110000.0  500000.0  340000.0  900000.0

c) Sales in 2017:
 Madhu      50000.0
Kusum      60000.0
Kinshuk    70000.0
Ankit      80000.0
Shruti     90000.0
Name: 2017, dtype: float64

d) Madhu and Ankit sales in 2017 and 2018:
          Madhu     Ankit
2017   50000.0   80000.0
2018  160000.0  340000.0

e) Shruti sales in 2016:
 125000.0

f) Added Sumeet:
          Madhu     Kusum   Kinshuk     Ankit    Shruti   Sumeet
2014     100.5     150.8     200.9   30000.0   40000.0    196.2
2015   12000.0   18000.0   22000.0   30000.0   45000.0  37800.0
2016   20000.0   50000.0   70000.0  100000.0  125000.0  52000.0
2017   50000.0   60000.0   70000.0   80000.0   90000.0  78438.0
2018  160000.0  110000.0  500000.0  340000.0  900000.0  38852.0

g) Deleted 2014:
          Madhu     Kusum   Kinshuk     Ankit    Shruti   Sumeet
2015   12000.0   18000.0   22000.0   30000.0   45000.0  37800.0
2016   20000.0   50000.0   70000.0  100000.0  125000.0  52000.0
2017   50000.0   60000.0   70000.0   80000.0   90000.0  78438.0
2018  160000.0  110000.0  500000.0  340000.0  900000.0  38852.0

h) Deleted Kinshuk:
          Madhu     Kusum     Ankit    Shruti   Sumeet
2015   12000.0   18000.0   30000.0   45000.0  37800.0
2016   20000.0   50000.0  100000.0  125000.0  52000.0
2017   50000.0   60000.0   80000.0   90000.0  78438.0
2018  160000.0  110000.0  340000.0  900000.0  38852.0

i) Renamed Ankit and Madhu:
       Shailesh     Kusum    Vivaan    Shruti   Sumeet
2015   12000.0   18000.0   30000.0   45000.0  37800.0
2016   20000.0   50000.0  100000.0  125000.0  52000.0
2017   50000.0   60000.0   80000.0   90000.0  78438.0
2018  160000.0  110000.0  340000.0  900000.0  38852.0

j) Updated Shailesh's 2018 sale:
       Shailesh     Kusum    Vivaan    Shruti   Sumeet
2015   12000.0   18000.0   30000.0   45000.0  37800.0
2016   20000.0   50000.0  100000.0  125000.0  52000.0
2017   50000.0   60000.0   80000.0   90000.0  78438.0
2018  100000.0  110000.0  340000.0  900000.0  38852.0

l) SalesRetrieved with updated labels:
       Shailesh     Kusum    Vivaan    Shruti   Sumeet
2015   12000.0   18000.0   30000.0   45000.0  37800.0
2016   20000.0   50000.0  100000.0  125000.0  52000.0
2017   50000.0   60000.0   80000.0   90000.0  78438.0
2018  100000.0  110000.0  340000.0  900000.0  38852.0